<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <p> <%= link_to 'Articles', articles_path %> </p>
      <p> <%= link_to 'Create New Article', new_article_path %> </p>
    </div>
    <div class="container" id="articles">
      <%= yield %>
    </div>
  </body>
</html>
